header h1 {
    margin-left: 30px;
}
.menu {
    margin-left: 0px;

}
.menu li {
    display: inline;
}
.menu li a {
    margin-right: -3px;
    padding: 13px 80px;
    background-color: #3F8EBF;
    color: white;


}
.menu li a:hover {
    background-color: #3596BD;

}
.footer {
    background-color: #3F8EBF;
}
footer h5 {
    color: white;
    padding: 10px 40px;
}
